<div class="mb-5">
  <h1>Challenges en attentes de confirmation</h1>
</div>
      
<div class="col-lg-6 mb-5">
  <div class="bs-component">
    <ul class="list-group">
      <% @pending_challenges.each do |challenge| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= challenge.challenge.title.upcase %><br>
        A RAJOUTER INVITER PAR
        <%= link_to 'Accepter', toggle_participation_event_path(id: challenge.id), method: 'post', :class => 'badge badge-primary badge-pill' %><br>
        <%= link_to 'Décliner', abort_status_event_path(id: challenge.id), method: 'post', :class => 'badge badge-warning badge-pill' %>
      </li>
      <% end %>
    </ul>
  </div>
</div>

