<div class="container mt-4">

<!-- If User has no challenge -->
  <% if @user.events.count == 0 %>
  <%= render 'users/no-challenge' %>
<!-- If User has challenge -->
  <% else %>

    <!-- User challenge pending -->
    <div class="row">
      <% @pending_challenges = Event.where(user_id: current_user.id, participation: "pending") %>
      <% if @pending_challenges.count != 0%>
        <div class="col-4">
          <%= render 'users/pending-challenge' %>
        </div>
      <% else%>
        <div class="col-0">
        </div>
      <% end %>

      <% if @pending_challenges.count != 0%>
      <div class="col-8">
        <%= render 'users/challenge' %>
      </div>
      <% else%>
      <div class="col-12">
        <%= render 'users/challenge' %>
      </div>
      <% end %>
    </div>


  
  <% end %>
</div>



