<div class="container">
  <div class="row mt-5">
    <div class="col-lg-6">
      <h4>Country info</h4>
      <dl>
        <dt>Country</dt>
        <dd><%= @category[strMeal] %></dd>
      </dl>
    </div>
    <div class="col-lg-6">
      <h4>Weather Info</h4>
      <dl>
      </dl>
    </div>
  </div>
</div>



