<div class="container mt-5">
  <div class="d-flex flex-column">

    <div class="text-center mb-4">
      <h1>Ton Cooking Challenge 🍔</h1>
    </div>
    
    <div class="text-center">
      <h5>Etape 1 : les ingrédients</h5>
    </div>

    <div class="row">
      <div class="col-6 p-2 mb-2">
        <div class="card pt-2">
          <div class="d-flex justify-content-center mb-3">
            <div class="text-center">
              <h5>Type de thème : <span class="red-text"><%= @challenge.theme_choice %></span></h5>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-6 p-2 mb-2">
        <div class="card pt-2">
          <div class="d-flex justify-content-center mb-3">
            <div class="text-center">
              <h5>Nombre d'invité(s) : <span class="red-text"><%= @challenge.numb_guest %></span></h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <h5>Etape 2 : En cuisine</h5>
    </div>
    
    <%= render 'form-update', challenge: @challenge %>
    
    <%= render 'form-invite', challenge: @challenge %>

  </div>
</div>