<h1>Crée ton Cooking Challenge</h1>

<%= render 'form', challenge: @challenge %>

    <section class="py-5 text-center container">
    <h1 class="fw-light">Une petite faim ? 🍔 </h1>
    <p class="lead text-muted">Choisis ta catégorie dans la liste</p>
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <div class="form-group">
            <select class="form-control search-content" id="search-input">
              <option selected>Choisis...</option>
              <option>Breakfast</option>
              <option>Starter</option>
              <option>Dessert</option>
              <option>Seafood</option>
              <option>Beef</option>
              <option>Chicken</option>
              <option>Lamb</option>
              <option>Pork</option>
              <option>Pasta</option>
              <option>Vegan</option>
              <option>Vegetarian</option>
              <option>Miscellaneous</option>
            </select>
            <br>
            <button type="submit" class="search-btn btn btn-outline-primary fas fa-search" id="search-btn">Chercher</button>
          </div>
          <div class="input-group meal-search-box">
          </div>
        </div>
      </div>
      <div id="meal" class="row meal"></div>
    </section>


<%= javascript_pack_tag 'script.js' %>






<%= link_to 'Back', challenges_path %>
