


body{
  font-family: 'Roboto', sans-serif;
}

.jumbotron {
  background-image: url(jumbo.jpg);
  background-size: cover;
  max-width: 100%;
  height: auto;
  background-size: cover;
  overflow: hidden;
  border-radius: 0;
  height: 500px;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-shadow: 5px 5px 20px black;
}

.jumbo-text{
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
  font-weight:bold;
  text-shadow: 0.1em 0.1em 0.2em black;

}

.jumbo-body{
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
  text-shadow: 0.1em 0.1em 0.2em black
}

.jumbo-button{
  border: 1px, solid, whitesmoke;
}

#navicon:before{ 
  background-image: url(cooking-logo.png);
  background-size: 80px 30px;
  display: inline-block;
  width: 80px; 
  height: 30px;
  content:"";
  left:-20px;
  top:0px;
}

li{
  list-style: none;
}

article{
  height: 100%;
}
.recipe-of-the-day {
  height: 30rem;
  width: 46rem;
  position: relative;
  display: block;
}

.recipe-of-the-day .content {
    background-color: #fff;
    height: 11rem;
    padding: 25px;
    position: absolute;
    right: 2rem;
    top: 18rem;
    width: 22rem;
    z-index: 10;
}

.recipe-of-the-day .photo-wrap {
  display: block;
  position: absolute;
  height: 15rem;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}

.landing-icon{
  width:30%;
}

.winner-pic{
  max-width:100%;
}
.winner-logo{
  max-width:22px;
  height: auto;
}

.landing-icon2{
  width:27%;
}
.spoon{
  width:100px;
  height: auto;
}

.step-icon{
  max-height:60px;
  width: auto;
}

.survey-icon{
  max-height:90px;
  width: auto;
}

.experience {
  padding: 40px;
}

.user{
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 14px 50px rgba(34, 35, 58, 0.2);
  border: none;
}

.img-user-experience{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-height: 300px;
  width: auto;
}

.header-event{
  padding-bottom: 0px;
}

.recipe-picture{
  max-width: 15em;
  height: auto;
}

.login-img{
  max-width: 24em;
  height: auto;
  padding-right: 30px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.user-quote{
  color: #f93f23;
  font-style: italic;
}

.user-expe{
  padding: 10px;
  font-size: 0.9em;
  line-height: 1.8em;
}

.red-text{
  color: #f93f23;
}
.gray-text{
  color: #292929;
}

.white-text{
  color: #fff;
}

.green-text{
  color: rgb(7, 186, 28);
}


.img-card{
  max-width: 100%;
}

.card-img{
  padding: 10px 20px;
}
.card-text{
  padding: 25px;
}

.recipe-ingredient ul li{
  color: #292929;
  font-size: 0.8em;
  list-style-image:url();
  line-height: 1.8em;

}

.recipe-instruction{
  color: #292929;
  font-size: 0.9em;
}


#ul-grade{
  padding: 5px;
  margin: 0;
}

.score{
  color: #292929;
  font-size: 0.8em;
  letter-spacing: 0.2em;
  font-weight: 800;
  line-height: 1em;
}

.recipe-pic{
  float: left;
  max-width: 10em;
  height: auto;
  margin-right: 10px;
  margin-bottom: 5px;
}

.youtube-link{
  max-width: 2em;
  height: auto;
}

.fork-img{
  max-width: 100%;
  height: auto;
  margin-top: 30px;
}
.youtube-link:hover{
  fill: #f93f23;
}


@media screen and (min-width: 200px) and (max-width: 991px) {

}



.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #212529;
  text-align: right;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
}
@media (prefers-reduced-motion: reduce) {
  .accordion-button {
    transition: none;
  }
}
.accordion-button:not(.collapsed) {
  color: #292929;
  background-color: #f93f23;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(-180deg);
  color: #292929;
}
.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: auto;
  content: "";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
  
}




.accordion-button:not(.collapsed)::after {

}

@media (prefers-reduced-motion: reduce) {
  .accordion-button::after {
    transition: none;
  }
}
.accordion-button:hover {
  z-index: 2;
}
.accordion-button:focus {
  z-index: 3;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.accordion-header {
  margin-bottom: 0;
}

/* accordion inside*/
.accordion-item {
  margin-bottom: -1px;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  
}
.accordion-item:first-of-type {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.accordion-item:first-of-type .accordion-button {
  border-top-right-radius: calc(0rem - 1px);
  border-top-left-radius: calc(0rem - 1px);
}
.accordion-item:last-of-type {
  margin-bottom: 0;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-left-radius: calc(0.25rem - 1px);
  border-bottom-right-radius: calc(0.25rem - 1px);
}
.accordion-item:last-of-type .accordion-collapse {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

.accordion-body {
  padding: 1rem 1.25rem;
}

.accordion-flush .accordion-collapse {
  border-width: 0;
}
.accordion-flush .accordion-item {
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}
.accordion-flush .accordion-item:first-child {
  border-top: 0;
}
.accordion-flush .accordion-item:last-child {
  border-bottom: 0;
}
.accordion-flush .accordion-item .accordion-button {
  border-radius: 0;
}




