<p>Bonjour <%= @resource.email %>!</p>

<p>Une requête pour changer votre mot de passe nous a été demandée. Tu peux le changer en cliquant sur le lien ci-dessous.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu n'es pas à l'origine de cette requête, veuille ignorer cet e-mail.</p>
<p>Ton mot de passe ne changera pas tant que tu n'auras pas accédé au lien ci-dessus et créé un nouveau mot de passe.</p>
